# Mounting File Systems Automatically with /etc/fstab

### Example configurations
```
/dev/sdb1 /data/.data1 auto auto,user,rw 0 0
/dev/sdc1 /data/.data2 auto auto,user,rw 0 0

```

### mhddfs: join several filesystems together
* install
```
sudo apt-get install mhddfs
```
* config
```
mhddfs#/data/.data1,/data/.data2 /data/main fuse defaults,allow_other 0 0
```
