# Mounting File Systems Automatically with /etc/fstab

### Example configurations
```
/dev/sdb1 /data/.data3 auto auto,user,rw 0 0
/dev/sdc1 /data/.data1 auto auto,user,rw 0 0
/dev/sdd1 /data/.data2 auto auto,user,rw 0 0
/dev/sde1 /data/.data4 auto auto,user,rw 0 0
/dev/sdf1 /data/.data5 auto auto,user,rw 0 0
```

### mhddfs: join several filesystems together
* install
```
sudo apt-get install mhddfs
```
* config
```
mhddfs#/data/.data1,/data/.data2,/data/.data3,/data/.data4,/data/.data5 /data/main fuse defaults,allow_other 0 0
```
