# Git Configurations
```
git config --global user.name JohnDoe                   # config user name
git config --global user.email johndoe@example.com      # config user email
git config --global core.editor vim                     # config editor
git config --global credential.helper store             # saving password
git init --initial-branch=main                          # config default branch
git remote add origin https://github.com/user/repo.git  # connect remote 

### command alias setting
git config --global alias.cm "commit -m"
git config --global alias.br branch
git config --global alias.co checkout
git config --global alias.cb "checkout -b"
git config --global alias.last "log -1 HEAD"
```
